.DS_store
tags
*.pyc
*.ipynb_checkpoints

D
src/output
_build
__pycache__

.vscode
.metadata
RemoteSystemsTempFiles

# virtual environment
env

# build results 
build
*.egg
*.egg-info
*.egg
dist/

# data 
*.csv
*.png
profile*
