alabaster==0.7.12
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
commonmark==0.9.1
coverage==5.3
cycler==0.10.0
Deprecated==1.2.10
docutils==0.16
dparse==0.5.1
flake8==3.8.4
idna==2.10
imagesize==1.2.0
Jinja2==2.11.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
meson==0.56.0
mpmath==1.1.0
numpy==1.19.4
packaging==20.4
Pillow==8.0.1
pycodestyle==2.6.0
pyflakes==2.2.0
PyGithub==1.53
Pygments==2.7.2
PyJWT==1.7.1
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==4.19.24
python-dateutil==2.8.1
python-gitlab==2.5.0
pytz==2020.1
pyupio==1.1.1
PyYAML==5.3.1
recommonmark==0.6.0
requests==2.24.0
rinoh-typeface-dejavuserif==0.1.1
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.4.2
safety==1.9.0
scipy==1.5.3
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.3.0
sphinx-fortran==1.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sympy==1.6.2
toml==0.10.2
tqdm==4.51.0
urllib3==1.25.11
wrapt==1.12.1
